<link
  rel="preload"
  as="image"
  href="https://res.cloudinary.com/dkt1t22qc/image/upload/v1742348949/Prestataires_Documents/smj7n1bdlpjsfsotwpco.png"
/>
<div
  class="bg-cover bg-gradient-to-br from-[#7337FF] via-[#000000] to-[#0C7EA8]"
  style="
    background-image: url(https://res.cloudinary.com/dkt1t22qc/image/upload/v1742348950/Prestataires_Documents/fopt5esl9cgvlcawz1z4.jpg);
  "
>
  <div
    class="h-screen flex justify-center items-center backdrop-blur-[2px] bg-black/30"
  >
    <div class="flex flex-col items-center w-full max-w-md mx-auto">
      <div
        class="flex items-center gap-1 hover:scale-105 transition-transform duration-300 header-item translateY(0) mb-5"
      >
        <img
          src="favicon.png"
          alt="Bestract Logo"
          class="h-15 w-15 rounded-full cursor-pointer"
        />
        <div class="text-5xl font-bold text-tertiary montserrat-bold">
          <span class="text-secondary">Be</span
          ><span class="text-secondary">stract</span>
        </div>
      </div>
      <div
        class="bg-[#310D84] relative text-white shadow-lg rounded-2xl p-8 w-full max-w-md mx-auto"
        style="box-shadow: -6px 3px 20px 4px #0000007d"
      >
        <h1 class="text-white text-2xl font-bold text-center mb-6">
          Admin Login
        </h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" action="">
          <div class="mb-4">
            <label class="block text-sm font-medium mb-1">Email</label>
            <input
              type="text"
              formControlName="email"
              class="px-4 py-2 border bg-[#000] rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 w-full placeholder:text-gray-300 shadow-md shadow-blue-950"
            />
          </div>
          <div class="mb-6">
            <label class="block text-sm font-medium mb-1">Password</label>
            <input
              type="password"
              formControlName="password"
              class="px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 bg-[#000] w-full placeholder:text-gray-300 shadow-md shadow-blue-950"
            />
          </div>

          <div class="flex justify-center mb-4">
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              class="bg-primary py-2 rounded-lg hover:bg-blue-700 transition h-10 w-full cursor-pointer text-white bg-gradient-to-br from-[#7336FF] to-[#3269FF] shadow-md shadow-blue-950"
            >
              Log In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
